[submodule "libc/mlibc"]
	path = libc/mlibc
	url = https://github.com/managarm/mlibc
	branch = master
[submodule "external/essence/essence"]
	path = external/essence/essence
	url = https://github.com/sasdallas/essence
	branch = main
[submodule "userspace/lib/neutron/neutron"]
	path = userspace/lib/neutron/neutron
	url = https://github.com/sasdallas/Neutron
[submodule "external/u80211/u80211"]
	path = external/u80211/u80211
	url = https://github.com/mathewnd/u80211
[submodule "external/u80211_drv/u80211_drv"]
	path = external/u80211_drv/u80211_drv
	url = https://github.com/mathewnd/u80211_drv
