[submodule "libc/mlibc"]
	path = libc/mlibc
	url = https://github.com/sasdallas/mlibc
	branch = master
[submodule "external/essence/essence"]
	path = external/essence/essence
	url = https://github.com/sasdallas/essence
	branch = main
[submodule "userspace/lib/neutron/neutron"]
	path = userspace/lib/neutron/neutron
	url = https://github.com/sasdallas/Neutron
