# aarch64 architecture Makefile for libpolyhedron

SOURCE_DIRECTORIES += arch/aarch64/time arch/aarch64/crt arch/aarch64/setjmp arch/aarch64/math
#LIBC_CFLAGS += -DMEMSET_DEFINED -DMEMCPY_DEFINED
#LIBK_CFLAGS += -DMEMSET_DEFINED -DMEMCPY_DEFINED

ARCH_INCLUDE_DIRECTORY = arch/aarch64/include
ARCH_CRT_DIRECTORY = arch/aarch64/crt