# aarch64 build configuration

# Add source directories
SOURCE_DIRECTORIES += arch/aarch64 drivers/arm/

# Specify the linker file
ARCH_LINK_LD := arch/aarch64/linker.ld

CFLAGS += -ffixed-x18 -mgeneral-regs-only -mno-outline-atomics -z max-page-size=0x1000 -Wno-unused-local-typedefs -mcmodel=large
LDFLAGS += -z max-page-size=0x1000