set timeout=10
insmod all_video

menuentry "Hexahedron" {
    multiboot /boot/hexahedron-kernel.elf
    module /boot/initrd.tar.img type=initrd
}

menuentry "Hexahedron (I/O APIC)" {
    multiboot /boot/hexahedron-kernel.elf --enable-ioapic
    module /boot/initrd.tar.img type=initrd
}

menuentry "Hexahedron (Disable CoW)" {
    multiboot /boot/hexahedron-kernel.elf --disable-cow
    module /boot/initrd.tar.img type=initrd
}

menuentry "Hexahedron (debug console)" {
    multiboot /boot/hexahedron-kernel.elf --debug=console
    module /boot/initrd.tar.img type=initrd
}

menuentry "Hexahedron (Multiboot2)" {
    multiboot2 /boot/hexahedron-kernel.elf
    module2 /boot/initrd.tar.img type=initrd
}

menuentry "Hexahedron (no ACPI)" {
    multiboot /boot/hexahedron-kernel.elf --no-acpi
    module /boot/initrd.tar.img type=initrd
}