# x86_64 architecture Makefile for libpolyhedron

SOURCE_DIRECTORIES += arch/x86_64/time arch/x86_64/math arch/x86_64/setjmp arch/x86_64/string
LIBC_CFLAGS += -D__MEMCPY_DEFINED -D__MEMSET_DEFINED
LIBK_CFLAGS += -D__MEMCPY_DEFINED -D__MEMSET_DEFINED

ARCH_INCLUDE_DIRECTORY = arch/x86_64/include
ARCH_CRT_DIRECTORY = arch/x86_64/crt